<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
{% load staticfiles %} 

<html>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>{% block title %}Interactive Registry of Government Seals{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> 
        <link rel="stylesheet" href="{% static "css/nav.css" %}" /> 
        {% block css %}{% endblock %}

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% block js_up %}{% endblock %}
    </head>

    <body>
        {% block body_header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block body_footer %}{% endblock %}
    </body>

    {% block js_bottom %}{% endblock %}
    <script type="text/javascript">
            $(function(){
                var $link = $('a.language-link'),
                    $input = $('form.language-form :input[name="language"]');

                $link.click(function() {

                    var code = $(this).data('language');

                    alert(code);
                })

            });
    </script>
</html>